Clean data smoke and drinking

In [ ]:
# Question: standardize the binary features or not?  NO
# Take log, and do one out of k with the ordinal features. You take log when you have very small values.
# After doing one out of K, should we standardize these? NO

In [1]:
import numpy as np
import pandas as pd
import os
import math
from sympy import *

In [35]:
filename = 'smoking_driking_dataset_Ver01.csv'
data = pd.read_csv(filename)

raw_data = data.values

attriubutes = np.asarray(data.columns)

print("These are the features", attriubutes)

These are the features ['sex' 'age' 'height' 'weight' 'waistline' 'sight_left' 'sight_right'
 'hear_left' 'hear_right' 'SBP' 'DBP' 'BLDS' 'tot_chole' 'HDL_chole'
 'LDL_chole' 'triglyceride' 'hemoglobin' 'urine_protein'
 'serum_creatinine' 'SGOT_AST' 'SGOT_ALT' 'gamma_GTP' 'SMK_stat_type_cd'
 'DRK_YN']

In [36]:
data[:10]

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,Male,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,Male,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,Male,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,Male,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N
5,Male,50,165,55,75.0,1.2,1.5,1.0,1.0,142.0,...,95.0,232.0,13.8,3.0,0.8,29.0,40.0,37.0,3.0,Y
6,Female,45,150,55,69.0,0.5,0.4,1.0,1.0,101.0,...,115.0,75.0,12.3,1.0,0.8,19.0,12.0,12.0,1.0,N
7,Male,35,175,65,84.2,1.2,1.0,1.0,1.0,132.0,...,107.0,101.0,14.4,1.0,0.8,18.0,18.0,35.0,3.0,Y
8,Male,55,170,75,84.0,1.2,0.9,1.0,1.0,145.0,...,141.0,100.0,15.1,1.0,0.8,32.0,23.0,26.0,1.0,Y
9,Male,40,175,75,82.0,1.5,1.5,1.0,1.0,132.0,...,118.0,83.0,13.9,1.0,0.9,21.0,38.0,16.0,2.0,Y

In [37]:
cols = range(0,24) # 24 columns in the data set
data = raw_data[:,cols] # defining the data as a matrix

In [38]:
# Replacing strings with numbers. Starting with gender:
data[data == 'Female'] = 0
data[data == 'Male'] = 1

# Replacing Y = yes with 1 and N = no with 0 in regards to drinking
data[data == 'Y'] = 1
data[data == 'N'] = 0

In [39]:
# Now I standardize the data, but not the columns that are ordinal of character 
# and not the binary variables.
# The one ordinal feature is the degree of smoking habits.
# The binary features are the sex and the drinking habits.



# Standardize the data, execept last two columns
for i in range(0,22):
    data[:,i] = (data[:,i] - data[:,i].mean()) / data[:,i].std()
# Here everything is standardized, except the last two columns, 

# Now I will only acces the last column and standardize it:
data[:,23] = (data[:,22] - data[:,22].mean()) / data[:,22].std()

In [45]:
# Now I will use one-out-of-K encoding for the ordinal feature, smoking degree:
smoking = data[:,22]

encoding = np.zeros((len(smoking), 3)) # three different smoking stages

for i in range(0,len(smoking)):
    for j in range(0,3):
        if smoking[i] == j+1:
            encoding[i,j] = 1
        else:
            encoding[i,j] = 0

# Combining the data and the encoded data:
data = np.concatenate((data[:,0:22], encoding), axis = 1)

In [46]:
data[:1]

array([[0.9397884955405195, -0.8895138247611124, 0.835873542005999,
        0.9362098634803956, 0.7397812369013073, 0.03162919802566975,
        0.03566767299855207, -0.18032946606816316, -0.1772955224275705,
        -0.16726083420285046, 0.39915347504450527, -0.058910267228319775,
        -0.06614101179125254, -0.5184218736517127, 0.3616433428553761,
        -0.3927882118962592, 1.8109191141942875, -0.21526021557689362,
        0.2903736918944427, -0.21237087683823733, 0.35140424416248767,
        0.05679132619379527, 1.0, 0.0, 0.0]], dtype=object)